<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 配置 -->
<configuration>

	<!-- 类型别名 -->
	<!-- <typeAliases>
		<typeAlias alias="user"  type="dog.diary.entity.User" />
	</typeAliases> -->
	
	<!-- 映射文件 -->
	<!-- <mappers>
		<mapper resource="dog/diary/entity/User.xml" />
	</mappers> -->
</configuration>